@use "sass:math";
@use "sass:color";

@import "config";
@import "blocks/**/*";
@import './node_modules/aos/src/sass/aos.scss';
@import './node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import './node_modules/@glidejs/glide/src/assets/sass/glide.theme';

@font-face {
	font-family: "raisonne";
	src: url('/../fonts/Raisonne\ DemiBold.woff2');
}

//preloader

.preloader {
  background-color: #ffa5a5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
}

.type_text {
  display: flex;
  max-width: 960px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-family: "Raisonne", serif;
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.loaded_hiding .preloader {
  transition: opacity ease 4s;
  opacity: 0;
  transition-delay: 4s
}

.loaded .preloader {
  display: none;
}

//first page 

.home {
  display: flex;
  position: relative;
  background: rgb(248, 214, 214);
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}

//flying hearts

#header-plugin {
  width: 100%;
}

.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

@-webkit-keyframes love {
  0%  { top: 110%;  }
}

@-moz-keyframes love {
  0%  { top: 110%;  }
}

@keyframes love {
  0%  { top: 110%;  }
}

//navigation

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  opacity: 0;
  width: 1000px;
  z-index: 9999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navig {
  opacity: 1;
  transition: all 1.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #009BBB;
  -webkit-text-stroke: 0.5px  #000;
  font-size: 20px;
  text-transform: uppercase;;
}

a.main {
  font-size: 46px;
  -webkit-text-stroke: 2px  #000;
  line-height: 45px;
  text-transform: uppercase;
  padding: 5px;
}

.btn_gallery {
  background-color: #B5E5CF;
  border: 3px solid #000;
  border-radius: 60px;

}

.btn_moments {
  background-color: #B5E5CF;
  border: 3px solid #000;
  border-radius: 60px;

}

.btn_businka {
  background-color: #B5E5CF;
  border: 3px solid #000;
  border-radius: 60px;
}

@media (max-width: 992px) {

  .nav {
    width: 600px;
  }

}


@media (max-width: 767.98px) {
  
  .nav .btn_gallery {
    margin-right: 30px;
  }

  .nav .btn_businka {
    margin-right: 30px;
  }

  a {
    text-decoration: none;
    color: #009BBB;
    -webkit-text-stroke: 0.5px  #000;
    font-size: 15px;
    text-transform: uppercase;;
  }

  a.main {
    font-size: 30px;
    -webkit-text-stroke: 1px  #000;
    line-height: 35px;
    text-transform: uppercase;
    padding: 5px;
  }

}

@media (max-width: 568px) {

  .nav .btn_gallery {
    margin-right: 10px;
  }

  .nav .btn_businka {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: #009BBB;
    -webkit-text-stroke: 0.5px  #000;
    font-size: 15px;
    text-transform: uppercase;;
  }

  a.main {
    font-size: 30px;
    -webkit-text-stroke: 1px  #000;
    line-height: 30px;
    text-transform: uppercase;
    padding: 5px;
  }

}


@media (max-width: 414px) {

	a {
    text-decoration: none;
    color: #009BBB;
    -webkit-text-stroke: 0.5px  #000;
    font-size: 15px;
    text-transform: uppercase;;
  }

	a.main {
    font-size: 20px;
    -webkit-text-stroke: 1px  #000;
    line-height: 30px;
    text-transform: uppercase;
    padding: 5px;
  }


}

//welcome title

.welcome-start {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.welcome-start .row {
  display: flex;
  justify-content: center;
}

.welcome-wrap {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 58%;
  min-width: 1050px;
  height: auto;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
  cursor: pointer;
  z-index: 9999;
  top: 40%;
}

.welcome-animate {
  display: flex;
  transform: translate(0,-280px);
  transition: 5s ease;
  animation-duration: 5000;
  margin: auto;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "raisonne";
  font-size: 200px;
  color: #FFA5A5;
  -webkit-text-stroke: 5px  #000;
  line-height: 200px;
  text-shadow: 10px 10px #000;
  min-width: 1130px;
}

@media (max-width: 992px) {

  .welcome {
    font-size: 140px;
    line-height: 145px;
    margin-bottom: 5px;
    text-shadow: 7px 7px #000;
  }

  .welcome-wrap {
    -webkit-text-stroke: 5px  #000;
    line-height: 70px;
    min-width: 750px;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
  }

  .welcome-animate {
    display: flex;
    transform: translate(0,-185px);
    transition: 5s ease;
    animation-duration: 5000;
    margin: auto;
  }

}

@media (max-width: 767.98px) {

  .welcome {
    font-size: 100px;
    line-height: 115px;
    margin-bottom: 5px;
    -webkit-text-stroke: 3px  #000;
    text-shadow: 5px 5px #000;
  }

  .welcome-wrap {
    -webkit-text-stroke: 5px  #000;
    line-height: 70px;
    text-shadow: 10px 10px #000;
    min-width: 530px;
    top: 40%;
    margin-top: 0;
  }

  .welcome-animate {
    display: flex;
    transform: translate(0,-200px);
    transition: 5s ease;
    animation-duration: 5000;
    margin: auto;
  }

}

@media (max-width: 414px) {

  .welcome {
    font-size: 65px;
    line-height: 85px;
    margin-bottom: 5px;
    -webkit-text-stroke: 2px  #000;
    text-shadow: 3px 3px #000;
  }

  .welcome-wrap {
    -webkit-text-stroke: 5px  #000;
    line-height: 50px;
    text-shadow: 10px 10px #000;
    min-width: 370px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
    top: 40%;
    margin-top: 0;
  }

  .welcome-animate {
    display: flex;
    transform: translate(0,-145px);
    transition: 5s ease;
    animation-duration: 5000;
    margin: auto;
  }

}

@media (max-width: 375px) {

  .welcome {
    font-size: 65px;
    line-height: 85px;
    margin-bottom: 5px;
    -webkit-text-stroke: 3px  #000;
    text-shadow: 3px 3px #000;
  }

  .welcome-wrap {
    -webkit-text-stroke: 5px  #000;
    line-height: 50px;
    text-shadow: 10px 10px #000;
    min-width: 350px;
  }

	
}

//first page photo & text

.first-page-content {
  display: flex;
  max-width: 1130px;
  align-items: center;
  opacity: 0;
  margin-top: 250px;
  z-index: 1111;
  margin-bottom: 30px;
}

.fp-opacity{
  display: flex;
  opacity: 1;
  transition: all 1.5s ease-out
}

.main-photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
  margin-right: 20px;
}

.img-businki img {
  width: 97%;
  padding: 42px 10px 30px 40px;
  height: auto;
}

.main-text-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
  height: auto;
}

.mt-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
  max-width: 500px;
}

.main-text-wrapper p:nth-child(1) {
  font-family: "Raisonne", serif;
  font-size: 80px;
  color: #FFA5A5;
  -webkit-text-stroke: 3px  #000;
  line-height: 90px;
  text-shadow: 5px 5px #000;
  text-transform: uppercase;
  margin-right: auto;
}

.main-text-wrapper p:nth-child(2) {
  font-family: "Raisonne", serif;
  font-size: 200px;
  color: #FFA5A5;
  -webkit-text-stroke: 3px  #000;
  line-height: 150px;
  text-shadow: 7px 7px #000;
  text-transform: uppercase;
	animation: pulse-red 3s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(1);
	}
	
	70% {
		transform: scale(1.15);
	}
	
	100% {
		transform: scale(1);
	}
}

.main-text-wrapper p:nth-child(3) {
  font-family: "Raisonne", serif;
  font-size: 100px;
  color: #FFA5A5;
  -webkit-text-stroke: 3px  #000;
  line-height: 100px;
  text-shadow: 5px 5px #000;
  text-transform: uppercase;
  margin-left: auto;
}

@media (max-width: 992px) {

  .first-page-content {
    margin-top: 180px;
    width: 800px;
  }

  .first-page-content .col-md-5 {
    display: flex;
    justify-content: center;
  }

  .first-page-content .col-md-7 {
    display: flex;
    justify-content: center;
  }
  
  .main-photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 60px;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
    margin-right: 0px;
    width: 400px;
    height: auto;
    margin-left: 12px;
  }

  .img-businki {
    display: flex;
    justify-content: center;
  }

  .img-businki img {
    width: 85%;
    padding: 27px 0 15px 5px;
    height: auto;
  }

  .main-text-wrapper {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 60px;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
    height: auto;
    width: 400px;
  }
  
  .mt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    max-width: 400px;
  }
  
  .main-text-wrapper p:nth-child(1) {
    font-family: "Raisonne", serif;
    font-size: 60px;
    color: #FFA5A5;
    -webkit-text-stroke: 3px  #000;
    line-height: 70px;
    text-shadow: 3px 3px #000;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: 15px;
  }
  
  .main-text-wrapper p:nth-child(2) {
    font-family: "Raisonne", serif;
    font-size: 130px;
    color: #FFA5A5;
    -webkit-text-stroke: 3px  #000;
    line-height: 120px;
    text-shadow: 7px 7px #000;
    text-transform: uppercase;
    animation: pulse-red 3s infinite;
  }

  .main-text-wrapper p:nth-child(3) {
    font-family: "Raisonne", serif;
    font-size: 60px;
    -webkit-text-stroke: 3px  #000;
    line-height: 46px;
    text-shadow: 3px 3px #000;
    margin-right: 20px;
  }

}

@media (max-width: 767.98px) {
  
  .main-photo-wrapper {
    display: none;
  }

  .first-page-content {
    display: flex;
    justify-content: center;
    width: 800px;
  }

  .main-text-wrapper {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 60px;
    box-shadow: 15px 15px rgba(0,0,0,0.4);
    height: auto;
    width: 535px;
  }
  
  .mt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    max-width: 400px;
  }
  
  .main-text-wrapper p:nth-child(1) {
    font-family: "Raisonne", serif;
    font-size: 70px;
    color: #FFA5A5;
    -webkit-text-stroke: 3px  #000;
    line-height: 80px;
    text-shadow: 3px 3px #000;
    text-transform: uppercase;
    margin-right: auto;
  }
  
  .main-text-wrapper p:nth-child(2) {
    font-family: "Raisonne", serif;
    font-size: 150px;
    color: #FFA5A5;
    -webkit-text-stroke: 3px  #000;
    line-height: 120px;
    text-shadow: 7px 7px #000;
    text-transform: uppercase;
    animation: pulse-red 3s infinite;
  }

  .main-text-wrapper p:nth-child(3) {
    font-family: "Raisonne", serif;
    font-size: 70px;
    -webkit-text-stroke: 3px  #000;
    line-height: 80px;
    text-shadow: 3px 3px #000;
  }

}

@media (max-width: 414px) {

  .first-page-content {
    margin-top: 110px;
  }

  .main-text-wrapper {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
    height: auto;
    width: 335px;
  }
  
  .mt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    max-width: 300px;
  }
  
  .main-text-wrapper p:nth-child(1) {
    font-family: "Raisonne", serif;
    font-size: 45px;
    color: #FFA5A5;
    -webkit-text-stroke: 2px  #000;
    line-height: 50px;
    text-shadow: 3px 3px #000;
    text-transform: uppercase;
    margin-right: auto;
  }
  
  .main-text-wrapper p:nth-child(2) {
    font-family: "Raisonne", serif;
    font-size: 100px;
    color: #FFA5A5;
    -webkit-text-stroke: 2px  #000;
    line-height: 80px;
    text-shadow: 5px 5px #000;
    text-transform: uppercase;
    animation: pulse-red 3s infinite;
  }

  .main-text-wrapper p:nth-child(3) {
    font-family: "Raisonne", serif;
    font-size: 45px;
    -webkit-text-stroke: 2px  #000;
    line-height: 80px;
    text-shadow: 3px 3px #000;
    margin-bottom: 0;
  }

}

// @media (max-width: 375px)




// start section

.start {
  position: relative;
}

.start-loaded {
  display: block;
}

.start-wrappper .container {
  margin: 0;
  padding: 0;
}

.background-img {
  position: relative;
  display: flex;
  background-image: url("../images/src/lets_start.png");
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.start-text {
  font-size: 88px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 88px;
}

.start-text-wrapper {
  display: flex;
  justify-content: center;
  max-width: 960px;
  height: 110px;
  max-height: 120px;
  margin: 30px auto auto 30px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}


.start-car {
  display: flex;
  justify-content: flex-end;
}

.start-car img {
  margin: 250px 180px 30px 10px;
  width: 30%;
  height: auto;
}

@media (max-width: 1200px) {

	.start-text {
    font-size: 70px;
    color: #00CFA2;
    -webkit-text-stroke: 2px  #000;
    line-height: 70px;
  }

	.start-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 780px;
    max-height: 90px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 60px;
    box-shadow: 15px 15px rgba(0,0,0,0.4);
  }

}

@media (max-width: 992px) {

  .start-text {
    font-size: 60px;
    color: #00CFA2;
    -webkit-text-stroke: 1.5px  #000;
    line-height: 60px;
  }
  
  .start-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 660px;
    max-height: 80px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 60px;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
  }

}

@media (max-width: 767.98px) {

	.container {
		max-width: 740px;
	}

  .start-text {
    font-size: 50px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 50px;
  }
  
  .start-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 580px;
    max-height: 64px;
    margin: 30px auto auto 10px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }

}

@media (max-width: 575.98px) {

  .start-text {
    font-size: 30px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 30px;
  }
  
	.start-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 340px;
    max-height: 40px;
    margin: 30px auto auto 20px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }

}

@media (max-width: 414px) {

  .start-text {
    font-size: 30px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 40px;
    margin-bottom: 5px;
  }
  
  .start-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 350px;
    margin: 30px auto auto 10px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }

}

// first date section

.first-date {
  display: flex;
}

.fd-wrapper {
  background-image: url('/../images/src/first_date.png');
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background-size: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fd-wrapper .container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.first-date-title-wrapper {
  display: flex;
  justify-content: center;
  width: 600px;
  max-width: 480px;
  margin: 30px auto auto 30px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.first-date-title {
  font-size: 100px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 110px;
}

.first-date-img img {
  display: flex;
  width: 100%;
  height: auto;
  margin: 100px auto 5px 50px;
}  

.first-date-text-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
  max-width: 580px;
  min-height: 260px;
  margin: 30px auto auto 30px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 30px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.first-date-text {
  font-size: 48px;
  color: #00CFA2;
  -webkit-text-stroke: 1.5px  #000;
  line-height: 55px;
  padding: 5px;
  margin-left: 10px;
}

@media (max-width: 1200px) {

  .first-date-title-wrapper {
    display: flex;
    justify-content: center;
    width: 600px;
    max-width: 440px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 60px;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
  }
  
  .first-date-title {
    font-size: 90px;
    color: #00CFA2;
    -webkit-text-stroke: 2px  #000;
    line-height: 110px;
  }

  .first-date-text-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
    max-width: 435px;
    min-height: 260px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
  }
  
  .first-date-text {
    font-size: 36px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 45px;
    margin-left: 10px;
  }

}

@media (max-width: 992px) {

  .first-date-title-wrapper {
    display: flex;
    justify-content: center;
    width: 500px;
    max-width: 320px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 60px;
    box-shadow: 7px 7px rgba(0,0,0,0.4);
  }
  
  .first-date-title {
    font-size: 65px;
    color: #00CFA2;
    -webkit-text-stroke: 1.5px  #000;
    line-height: 80px;
  }

  .first-date-text-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    right: 15px;
    max-width: 400px;
    min-height: 200px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 30px;
    box-shadow: 7px 7px rgba(0,0,0,0.4);
  }
  
  .first-date-text {
    font-size: 28px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 35px;
    margin-left: 10px;
  }

  .first-date-img img {
    margin-left: 15px;
  }

}

@media (max-width: 767.98px) {

  .fd-wrapper .container {
    width: 50%;
  }

  .first-date-title-wrapper {
    display: flex;
    justify-content: center;
    width: 380px;
    max-width: 250px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .first-date-title {
    font-size: 50px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 60px;
  }

  .first-date-text-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    right: 15px;
    width: 425px;
    max-width: 275px;
    min-height: 170px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 30px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .first-date-text {
    font-size: 22px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 26px;
    margin-left: 10px;
  }

  .first-date-img img {
    margin-left: 15px;
  }

}

@media (max-width: 575.98px) {

  .fd-wrapper .container {
    width: 50%;
  }

  .first-date-title-wrapper {
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 200px;
    margin: 30px auto auto 30px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .first-date-title {
    font-size: 40px;
    color: #00CFA2;
    -webkit-text-stroke: 1.5px  #000;
    line-height: 50px;
  }

  .first-date-text-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 250px;
    max-width: 180px;
    min-height: 150px;
    margin: 30px 5px auto 30px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .first-date-text {
    font-size: 18px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 20px;
  }

  .first-date-img img {
    margin-left: 10px;
  }

}

@media (max-width: 414px) {

  .first-date-title-wrapper {
    display: flex;
    justify-content: center;
    min-width: 130px;
    margin: 20px auto auto 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .first-date-title {
    font-size: 30px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 30px;
  }

  .first-date-text-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 5px;
    max-width: 150px;
    min-height: 150px;
    margin: 30px 5px auto 30px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .first-date-text {
    font-size: 16px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 20px;
    padding: 5px;
    margin-left: 10px;
  }

}

// first kiss & sex section

.kiss-wrapper {
  display: flex;
  height: auto;
  background-color: #66132D;
}

.kiss-wrapper .col-5 {
  padding: 0;
}

.kiss-wrapper .col-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.kiss-img img {
  width: 100%;
  height: auto;
}

.kiss-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 740px;
  max-width: 420px;
  max-height: 100px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 12px 12px rgba(0,0,0,0.4);
  margin-bottom: 100px;
  margin-top: 5px;
}

.kiss-title {
  font-size: 88px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 120px;
}

.kiss-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  max-height: 300px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 60px;
  box-shadow: 12px 12px rgba(0,0,0,0.4);
  margin: 5px 5px;
}

.kiss-text {
  font-size: 38px;
  color: #00CFA2;
  -webkit-text-stroke: 1px  #000;
  line-height: 44px;
  padding: 10px 30px;
}

@media (max-width: 1600px) {

  .kiss-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 740px;
    max-width: 400px;
    max-height: 110px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 60px;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
    margin-bottom: 80px;
    margin-top: 5px;
  }
  
  .kiss-title {
    font-size: 88px;
    color: #00CFA2;
    -webkit-text-stroke: 2px  #000;
    line-height: 90px;
  }
  
  .kiss-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 780px;
    height: auto;
    max-height: 380px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 10px 10px rgba(0,0,0,0.4);
    margin: 10px 10px;
  }
  
  .kiss-text {
    font-size: 32px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 34px;
    padding: 5px;
    padding-top: 2px;
    margin-left: 5px;
  }

}

@media (max-width: 1200px) {

  .kiss-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 740px;
    max-width: 300px;
    max-height: 70px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 40px;
    margin-top: 5px;
  }
  
  .kiss-title {
    font-size: 66px;
    color: #00CFA2;
    -webkit-text-stroke: 1.5px  #000;
    line-height: 90px;
  }
  
  .kiss-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 580px;
    max-height: 200px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin: 5px 5px;
  }
  
  .kiss-text {
    font-size: 26px;
    color: #00CFA2;
    -webkit-text-stroke: 0.75px  #000;
    line-height: 28px;
    padding: 5px;
    padding-top: 2px;
    margin-left: 5px;
  }

}

@media (max-width: 992px) {

  .kiss-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 280px;
    max-height: 100px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 60px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 40px;
  }
  
  .kiss-title {
    font-size: 60px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 60px;
  }
  
  .kiss-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 480px;
    max-height: 160px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin: 5px 5px;
  }
  
  .kiss-text {
    font-size: 22px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 22px;
    padding: 5px;
    padding-top: 2px;
    margin-left: 5px;
  }

}

@media (max-width: 767.98px) {

  .kiss-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    max-height: 36px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 20px;
  }
  
  .kiss-title {
    font-size: 30px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 32px;
  }
  
  .kiss-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 360px;
    max-height: 110px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin: 5px 5px;
  }
  
  .kiss-text {
    font-size: 16px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 16px;
    padding: 5px;
    padding-top: 2px;
    margin-left: 5px;
  }

}

@media (max-width: 575.98px) {

  .kiss-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 140px;
    max-height: 32px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 8px;
  }
  
  .kiss-title {
    font-size: 28px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 32px;
  }
  
  .kiss-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 260px;
    max-height: 80px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
  }
  
  .kiss-text {
    font-size: 12px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 12px;
    padding: 5px;
    padding-top: 2px;
    margin-left: 5px;
  }

}

@media (max-width: 414px) {

  .kiss-title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 110px;
    max-height: 27px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 5px;
  }
  
  .kiss-title {
    font-size: 22px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 22px;
  }
  
  .kiss-text-wrapper {
    display: flex;
    justify-content: center;
    max-width: 210px;
    max-height: 80px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-top: 0;
  }
  
  .kiss-text {
    font-size: 10px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 12px;
    padding: 5px;
    padding-top: 2px;
    margin-left: 5px;
  }

}

// sex

.sex-wrapper {
  display: flex;
  height: auto;
  background-color: #6B3F84;
  position: relative;
}

.sex-wrapper .col-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sex-wrapper .col-7 {
  padding: 0;
}

.sex-img img {
  width: 100%;
  height: auto;
}

.sex-title-wrapper {
  display: flex;
  justify-content: center;
  width: 500px;
  max-width: 400px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
  margin-bottom: 50px;
}

.sex-title {
  font-size: 88px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 90px;
}

.sex-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 845px;
  max-width: 305px;
  height: 100px;
  max-height: 60px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 60px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.sex-text {
  font-size: 40px;
  color: #00CFA2;
  -webkit-text-stroke: 1px  #000;
  line-height: 40px;
}

@media (max-width: 1200px) {

  .sex-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 80px;
    max-height: 70px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
    margin-bottom: 45px;
  }
  
  .sex-title {
    font-size: 66px;
    color: #00CFA2;
    -webkit-text-stroke: 1.5px  #000;
    line-height: 42px;
    margin-bottom: 0;
  }
  
  .sex-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 230px;
    max-height: 50px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .sex-text {
    font-size: 32px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 2px;
  }

}

@media (max-width: 992px) {

  .sex-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 210px;
    height: 60px;
    max-height: 55px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
    margin-bottom: 45px;
  }
  
  .sex-title {
    font-size: 48px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 42px;
    margin-bottom: 0;
  }
  
  .sex-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 170px;
    max-height: 35px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .sex-text {
    font-size: 24px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 2px;
  }

}

@media (max-width: 767.98px) {

  .sex-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    height: 46px;
    max-height: 40px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
    margin-bottom: 25px;
  }
  
  .sex-title {
    font-size: 32px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 32px;
    margin-bottom: 0;
  }
  
  .sex-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 130px;
    max-height: 30px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .sex-text {
    font-size: 18px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 18px;
  }

}

@media (max-width: 575.98px) {

  .sex-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 140px;
    height: 32px;
    max-height: 32px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 15px;
  }
  
  .sex-title {
    font-size: 28px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 22px;
    margin-bottom: 0;
  }
  
  .sex-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 105px;
    max-height: 25px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .sex-text {
    font-size: 14px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 14px;
  }

}

@media (max-width: 414px) {

  .sex-title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 110px;
    height: 27px;
    max-height: 27px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 15px;
  }
  
  .sex-title {
    font-size: 22px;
    color: #00CFA2;
    -webkit-text-stroke: 1px  #000;
    line-height: 22px;
  }
  
  .sex-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 105px;
    max-height: 25px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px;
    box-shadow: 5px 5px rgba(0,0,0,0.4);
  }
  
  .sex-text {
    font-size: 14px;
    color: #00CFA2;
    -webkit-text-stroke: 0.5px  #000;
    line-height: 14px;
  }

}

// favourite place section

.place {
  background-image: url('../images/src/kartoteka.png');
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.place-title-wrapper {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 30px auto auto auto;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.place-title {
  font-size: 100px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 100px;
  padding: 10px;
  margin-left: 10px;
}

.place-text-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 520px;
  margin-bottom: 30px;
  max-width: 845px;
  min-height: 72px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.place-text {
  font-size: 40px;
  color: #00CFA2;
  -webkit-text-stroke: 1px  #000;
  line-height: 50px;
  padding: 10px;
  margin-left: 10px;
}

.nest {
  background-color: #89EBCD;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// love nest with carousel section

.nest-wrapper {
  width: 90%;
  height: auto;
}

.nest-title-wrapper {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 30px auto auto auto;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.nest-title {
  font-size: 100px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 100px;
  padding: 10px;
  margin-left: 10px;
}

.nest-text-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: 30px auto;
  min-height: 72px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.nest-text {
  font-size: 40px;
  color: #00CFA2;
  -webkit-text-stroke: 1px  #000;
  line-height: 50px;
  padding: 10px;
  margin-left: 10px;
}

// carousel

.glide__slides {
  height: 580px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slide img {
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
  width: 65%;
  height: auto;
  transition:  1s ease-out
}

.glide__slide--active img {
  width: 73%;
  height: auto;
  transition: 1s ease-out;
}

.glide__arrows img {
  height: 50px;
  color: #fff;
}

.glide__arrow {
  border: none;
  box-shadow: none;
}

.glide__arrow--right img {
  transform: rotate(180deg);
}

.glide__arrow--right {
  right: 0;
}

.glide__arrow--left {
  left: 10px;
}

.glide__arrows img {
  filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(354deg) brightness(101%) contrast(104%);
}

.glide__arrow :hover {
  filter: invert(59%) sepia(67%) saturate(2307%) hue-rotate(125deg) brightness(98%) contrast(101%);
}

// gallery section

.gallery {
  background-color: #4FB0C9;
  position: relative;
}

.gallery-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gallery-title-wrapper .container {
  margin: 0;
}

.main-lviv-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.lviv-title-wrapper {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.lviv-title {
  font-size: 100px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 100px;
  padding: 10px;
  margin-left: 10px;
}

.line-wrapper {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 45px;
  height: 100%;
  top: 30px;
  left: 50%;
  display: block;
  border: 5px solid #000;
  border-radius: 50px;
}

.main-myhove-title {
  display: flex;
  justify-content: center;
}

.myhove-title-wrapper {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 30px 30px auto 70px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.myhove-title {
  font-size: 100px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 100px;
  padding: 10px;
  margin-left: 10px;
}

.photos {
  position: relative;
  display: flex;
}

.lviv-1 {
  display: flex;
  justify-content: center;
}

.lviv-1 img {
  width: 75%;
  height: auto;
  margin: 30px 30px auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.wrapper-1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.lviv-2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.lviv-2 img {
  width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.lviv-3 {
  display: flex;
  justify-content: flex-start;
}

.lviv-3 img {
  width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.lviv-4 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.lviv-4 img {
  width: 77.2%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.gallery-myhove-photo-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto auto auto 30px;
}

.myhove-1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.myhove-1 img {
  width: 75%;
  height: auto;
  margin-left: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.myhove-wrapper-1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.myhove-2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: 30px;
}

.myhove-2 img {
  width: 80% ;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.myhove-3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.myhove-3 img {
  width: 93%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.spa-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spa-title-wrapper {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 30px auto 30px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.spa-title {
  font-size: 100px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 100px;
  padding: 10px;
  margin-left: 10px;
}

.spa-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.spa-1 img {
  width: 75%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.spa-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
}

.spa-2 img {
  width: 70%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.magic-moments-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.magic-moments-title-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 930px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 60px;
  box-shadow: 15px 15px rgba(0,0,0,0.4);
}

.magic-moments-title {
  font-size: 100px;
  color: #00CFA2;
  -webkit-text-stroke: 2px  #000;
  line-height: 100px;
  padding: 10px;
  margin-left: 10px;
}

.mm-wrapper-1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mm-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mm-1 img {
  width: 80%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.mm-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mm-2 img {
  width: 87%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.mm-wrapper-2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mm-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mm-3 img {
  width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.mm-4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mm-4 img {
  width: 83%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.mm-wrapper-3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mm-5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mm-5 img {
  width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.mm-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mm-6 img {
  width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.mm-wrapper-4 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.mm-7 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mm-7 img {
  width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}

.mm-8 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mm-8 img {
  width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(0,0,0,0.4);
}